---
apiVersion: image.openshift.io/v1
kind: ImageStream
metadata:
  annotations:
    openshift.io/display-name: wireguard-kmod-driver-container
  labels:
    app: wireguard-kmod-driver-container
  name: wireguard-kmod-driver-container
  namespace: tigera-wireguard-kmod
spec:
  lookupPolicy:
    local: true
---
apiVersion: build.openshift.io/v1
kind: BuildConfig
metadata:
  labels:
    app: wireguard-kmod-driver-build
  name: wireguard-kmod-driver-build
  namespace: tigera-wireguard-kmod
spec:
  nodeSelector:
    node-role.kubernetes.io/worker: ""
  runPolicy: "Serial"
  triggers:
    - type: "ConfigChange"
    - type: "ImageChange"
  source:
    configMaps:
    - configMap:
        name: wireguard-kmod-helpers
    dockerfile: |
      FROM quay.io/openshift-release-dev/ocp-v4.0-art-dev@sha256:397bdb1550d3d620376760449a14147266e87a5486a85e1381b10052daa0b392

      ARG ARTIFACTS_LOCATION
      ARG WIREGUARD_ARCHIVE_NAME
      ARG WIREGUARD_ARCHIVE_SHA256


      WORKDIR /
      #RUN cat /etc/systemd/system/kmod*
      RUN echo "Downloading ${ARTIFACTS_LOCATION}/${WIREGUARD_ARCHIVE_NAME}.tar.xz (${WIREGUARD_ARCHIVE_SHA256})" &&            \
        curl -LS ${ARTIFACTS_LOCATION}/${WIREGUARD_ARCHIVE_NAME}.tar.xz |                                                       \
        { t="$(mktemp)"; trap "rm -f '$t'" INT TERM EXIT; cat >| "$t"; sha256sum --quiet -c <<<"${WIREGUARD_ARCHIVE_SHA256} $t" \
        || exit 1; cat "$t"; } | tar xJf -

      RUN make -C ${WIREGUARD_ARCHIVE_NAME}/src -j$(nproc) KERNELRELEASE=$(uname -r)  \
      && make -C ${WIREGUARD_ARCHIVE_NAME}/src install KERNELRELEASE=$(uname -r)      \
      && rm -rf ${WIREGUARD_ARCHIVE_NAME}


      WORKDIR /etc/wireguard
      ADD wireguard-kmod-load.sh .
      ADD wireguard-kmod-reload.sh .
      ADD wireguard-kmod-unload.sh .
      ADD wireguard-kmod.conf .
      RUN chmod +x wireguard-kmod-*.sh
      ADD wireguard.service /etc/systemd/system/wireguard.service

      RUN systemctl enable wireguard.service

      CMD /sbin/init
  strategy:
    dockerStrategy:
      buildArgs:
        - name: WIREGUARD_ARCHIVE_NAME
          value: "wireguard-linux-compat-1.0.20220627"
        - name: WIREGUARD_ARCHIVE_SHA256
          value: "362d412693c8fe82de00283435818d5c5def7f15e2433a07a9fe99d0518f63c0"
        - name: ARTIFACTS_LOCATION
          value: "https://git.zx2c4.com/wireguard-linux-compat/snapshot"
  output:
    to:
      kind: ImageStreamTag
      name: wireguard-kmod-driver-container:latest